
$main_margin_left: 60px  
$main_bg_color: #292B2E
$seting_sping: 300ms transform ease-in-out

.covid_19
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
  box-sizing: content-box
  display: flex
  width: 100%
  height: 100vh
  background-color: $main_bg_color
  color: #DDD
  position: relative

  .left
    width: 80px
    align-items: center
    text-align: center
    background-color: #232529
    a
      display: block

    .logo
      height: 160px
      display: flex
      align-items: center
      justify-content: center

      svg
        width: 40px
        height: 40px
        color: #EFC985

    ul
      margin: 0
      padding: 0
      list-style: none

      .active
        background-color: #333
        border-right: 3px solid #EFC985
        a
          opacity: 1

      li
        margin-left: 0
        margin-top: 20px
        cursor: pointer
        padding: 10px
        height: 70px
        border-right: 3px solid transparent

        a
          margin-top: 4px
          font-size: 10px
          opacity: 0
          transition: 200ms ease

      li:hover
        background-color: #333

        a
          opacity: 1

      svg
        width: 30px

      // for optical corrections here
      li:last-child svg
        margin-top: 4px
      li:last-child a
        margin-top: -2px

  .main
    flex: 1
    min-width: 510px
    display: flex

    .content
      flex: 1
      z-index: 1
      position: relative

      .title
        margin-left: $main_margin_left
        margin-top: 40px

      h1
        margin-bottom: 1px
        font-size: 21px
        letter-spacing: .1em
        span
          font-size: 30px
          font-weight: bold
      .place
        span
          text-transform: uppercase

      .map_title
        top: 80px
        left: $main_margin_left
        position: absolute

      .info
        display: flex
        max-width: 540px

        .item_info
          margin-top: 10px
          min-width: 120px
          display: flex
          align-items: center
          justify-content: left
          flex: 1

        .item_content
          margin-right: 10px
          .content_top
            display: flex
            align-items: center

          .top_name
            font-size: 10px
            margin-right: 8px
            color: #BBB

          .top_change
            margin-top: 6px
            font-size: 11px
            line-height: 1
            color: #ffdf28

          span
            display: inline-block
            line-height: 1

          .value
            font-size: 18px
            letter-spacing: .1em

        svg
          width: 36px
          height: 36px
          margin-right: 10px

      .map
        position: absolute
        top: 0
        width: 100%
        height: 100vh
        display: flex
        padding-top: 100px
        align-items: center

        .bg_text
          margin-top: 4%
          text-align: center
          line-height: 1
          font-size: 30vh
          font-weight: 800
          position: absolute
          color: rgba(10, 10, 10, .4)
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          z-index: 1
          pointer-events: none

        #map
          width: 100%
          height: 100%
          z-index: 0
          background-color: transparent

        .toolbar
          position: absolute
          left: $main_margin_left
          bottom: 30px
          min-width: 180px
          justify-content: space-between
          display: flex

          .search_bar
            position: relative

            input
              border: none
              padding-left: 10px
              max-width: 100px
              background-color: rgba(100, 100, 100, .3)
              box-shadow: none
              border-radius: 20px
              transform-origin: left center
              color: #eee
              transform: scaleX(0.5)
              transition: $seting_sping

            input:hover
              transform: scaleX(1)
              transition: $seting_sping

            ul
              position: absolute
              width: 100%
              bottom: 100%
              list-style: none
              margin: 0
              padding: 0

              li
                font-size: 14px
                padding: 4px
              li:hover
                background-color: rgba(200, 200, 200, .3)
          a
            width: 26px
            height: 26px
            display: inline-block
            text-align: center
            cursor: pointer
          .setting
            transform-origin: center
            transform: rotate(0deg)
            transition: $seting_sping
          .setting:hover
            transform: rotate(90deg)
            transition: $seting_sping

          .search
            transform-origin: right center
            transform: rotate(0deg)
            transition: $seting_sping
          .search:hover
            transform: rotate(30deg)
            transition: $seting_sping

    .right
      width: 350px
      padding-left: 20px
      background-color: #232529
      display: flex
      flex-direction: column
      z-index: 1

      h2
        margin-top: 40px

      .table_container
        max-height: 400px
        overflow: scroll
        margin: 0

      thead
        text-transform: uppercase

      table
        background-color: transparent
        text-align: center

      #chart
        width: 100%
        margin-top: 20px
        flex: 1

    .open_sources
      width: 100%
      font-size: 21px
      letter-spacing: .1em
      padding: $main_margin_left
      line-height: 2

      table
        background-color: transparent

      a
        font-size: 16px

    .about
      width: 100%
      max-width: 70%
      font-size: 21px
      letter-spacing: .1em
      padding: $main_margin_left
      line-height: 2
      font-family: sans-serif
      color: #ccc

      h2
        font-weight: 700
        span
          font-size: 18px
          color: #aaa

      p
        font-size: 18px
        line-height: 2em
        font-size: 18px
        margin: 10px

        span
          // display: inline-block
          padding: 4px 6px
          color: #222
          text-align: center
          border-radius: 4px
          background-color: lightblue

      a
        line-height: 1

      h4
        margin-top: 20px

@media screen and ( max-width:  1000px)
  .main
    display: flex
    flex-direction: column
    overflow: scroll

    .content
      .map
        position: relative!important
        display: flex
        flex-direction: column
        padding: 0!important
        width: 100%
        height: 600px!important

        .map_title
          top: 0

        #map
          width: 100%
          height: 100%

    .right
      width: 100%!important
      display: block!important

    #chart
      width: 100%
      height: 400px!important
